#footer
{
    display: flex;
    flex-direction: column;
    background-color: red;
    padding-top: 1rem;
    margin-top: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7rem;
}
#footer #more-info
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#footer .info-item h1
{
font-size: 0.8rem;

}

#footer .info-item
{
    display: flex;
    flex-direction:column;
}

#footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;

    /* should be a style on everything i.e @index.css*/

    width: 90vw;
    max-width: 57rem;
    margin: auto;
}
 #footer .info-item a
 {
text-decoration: none;
color: inherit;
font-size: 0.8rem;
 }


 #footer i:nth-child(2)
 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
 }

 #footer #play-store
 {
    display: flex;
    align-self: center;
 }
 #footer #play-store p
 {
font-size: 0.8rem;
 }

 /* RESPONSIVILITY */