* {

    /*should be a style on everything i.e @index.css */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#navbar {

    background-color: red;


}

#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    height: 3rem;

    /* should be a style on everything i.e @index.css*/

    width: 90vw;
    max-width: 57rem;
    margin: auto;

}

#navbar #search-plus-stuff {
    display: flex;
    flex-direction: row;
}

#navbar #search-talent {

    margin-right: 0.5rem;
    margin-left: 2rem;

}

#navbar #search-talent input {
    padding: 0.2rem 1rem 0.2rem 1rem;
    outline: none;
    border: none;

}

#navbar #pricing-btn-1,
#navbar #talents-btn-1 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    outline: none;
    border: none;
    width: max-content;
    height: 1.5rem;
    background-color: blue;
}

#navbar #lencare-btn-1 {
    margin-left: 0.5rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    outline: none;
    border: none;
    background-color: blue;
}

/* RESPONSIVILITY */

#navbar #options:not(.display-none) {
    width: 1.5rem;
    height: 1.5rem;
    background-color: blue;
    display: grid;
    place-items: center;
    position: relative;
}

#navbar #options #lines,
#navbar #options #lines::before,
#navbar #options #lines::after {
    height: 0.1rem;
    width: 1.2rem;
    background-color: white;
    display: block;

}

#navbar #options #lines::before {
    content: "";
    top: 0.3rem;
    position: absolute;
    height: 0.1rem;
    background-color: white;
    outline: none;
    border: none;
}

#navbar #options #lines::after {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    height: 0.1rem;
    background-color:blue;

}

.display-none {
    display: none;
}

#navbar #navbar-options:not(.display-none) {
    position: absolute;
    top: 3.5rem;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 10rem;
    background-color: red;
    align-items: center;
}

#navbar #navbar-options button
{
    border: none;
        outline: none;
        background-color: blue;
        color: white;
        padding: 0.2rem 1rem 0.2rem 1rem;
        width: 8rem;
        text-align: center;
        border-radius: 0.1rem;
        margin: 0.2rem;
}