#recent-survey {
    border: 0.1rem solid rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-top: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#recent-survey input {
    padding: 0.2rem;
    width: 8rem;
}

#recent-survey input:first-child {
    margin-right: 0.5rem;
    margin-left: 0;
}

#recent-survey input:last-child {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

#recent-survey input {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}