:root{
    --background-color: #fff;
    --primary-color: #0E477B;
    --heading-color: #21286A;
    --title-footer:#ccc;
    --title-category:#0000FF;
    --secondary-color: #0000;
    --button-color: #00008B;
}

.view-jobs-prime-container{
    background-color: var(--background-color);
    width: 69%;
    margin: 0 auto;
}
.outer-jobview-card{
    border: 1px solid black;
    margin: 20px 0px 20px;
    border-radius: 5px;
    padding: 20px ;
}

.avatar-icon-picture{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.avatar-icon-picture > img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: 50%;
}
.company-avatar-icon{
    display: flex;
    align-items: center;
}
.company-title-name{
    margin-left: 15px;
}
.company-title-name > h1,h2{
    font-size: 16px;
}
.company-title-name > h2{
    color: var(--title-category);
    font-weight: 600;
}
.card-title-name > h1{
    font-weight: 700;
    color: var(--title-category);
    font-size: 20px;
}
.jd-company{
    margin-top: 20px;
    margin-left: 5px;
}
.posted-at-apply{
    display: flex;
    align-items: center;
    width: 100%;
    /* margin-top: 20px; */
    /* background-color: var(--title-footer); */
    justify-content: space-between;
}
.posted-at-apply > p{
    margin-bottom: 0 !important;
}
.btn{
    background-color: var(--button-color);git 
    color: var(--background-color);
    font-weight: 600;
    font-size: 17px;
}
.btn:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}