*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    background-image: url("https://creativelayers.net/themes/superio/images/index-17/header/bg.png");
    background-repeat: no-repeat;
}

.hero{
    background-image: url("../assets/bg.png");

}


.find-text{
    font-size: 60px;
    color: #21286A;
    line-height: 1.2;
    font-weight: bold;
}

.search input{
    padding: 20px 25px;
    width:500px;
    border-radius:50px 0px 0px 50px;
    border: none;
    outline: none;
    font-size: 20px;
}
.search .bi{
    color:white;
    background-color: #21286A;
    padding: 21px 50px;
    font-size: 22px;
    margin-left: -4px;
    border-radius: 0px 50px 50px 0px;
     cursor: pointer;
}
.text{
    color: gray;
}
.popular{
    color: #21286A;
}
.border a{
     color: #000;
     text-decoration: none;

}

